
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Every thing u need to know</title>
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    #foter{
      font-size: 15px;
    }
    i{
      font-size: 20px;
      padding-left: 10px;
    }
  </style>
</head>
<body>
<div>
  <nav class="navbar navbar-expand-sm navbar-primary bg-light">
    <div class="container">
      <a class="navbar-brand" href="javascript:void(0)">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar"> 
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="mynavbar">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)">Service</a>
    </li>
  </ul>
  <form class="d-flex">
    <button class="btn btn-default" type="button">Login</button>
    <button class="btn btn-primary" type="button">Create Account</button>
  </form>
</div>
</div>
</nav>


   <div class="container">
    
   
      
      <div class="row">
        <div class="col-12" id="by">
           
           <br/>
              <div class="row mb-5">
                 
                <div class="col-3">
                  
                </div>
                      <div class="col-6 text-center">
                        <h1>
                            <b>Everything you need to start
                            blogging as a developer!</b> </h1>
                                                        Own your content, share ideas, and
                                              connect with the global dev community!<br/>
                                              <br/>
            
                            <div class="mx-auto"><button class="btn btn-lg btn-success"><b>Start Your Personal Blog for free</b></button></div>
                      </div>
                      <div class="col-3">
                  
                      </div>
            
              </div>
              
             <div class="row justify-content-center text-center">
                 <div class="col-12 col-md-4 ">
                     <img src="/image/image-3.png" alt="logo" style="width: auto;height: 200px;"><br/><br/>
                     <p><b>Start a developer blog</b></p>
                 </div>
                 <div class="col-12 col-md-4" >
                     <img src="/image/image_1.png" alt="logo" style="width: auto;height: 200px;"><br/><br/>
                    <b> Map Your Custom domain</b>
                 </div>
                 <div class="col-12 col-md-4 ">
                     <img src="/image/image_2.png" alt="logo"style="width: auto;height: 200px;"><br/><br/>
                    <b> Map Your Custom domain</b>
                 </div>
             </div><br/>
      
             <hr/>
            
             <div class="row text-center">
                 <div class="col-12 col-md-4 text-center"><strong>Blog on Your Personal Domain</strong><br/>
                      <p>Map your custom domain in just
                       seconds via our free CNAME 
                       pointing feature. Serve your
                        blog over HTTPS with  no extra 
                        configuration.<br/>
                        <br/>
      
                      Get a high performance, secure, and fully-optimized 
                      blog that delights your readers.</p>
              
                  </div>
                  <div class="col-12 col-md-4 text-center"><strong>Istancely find Your Audiance</strong><br/>
                      <p>
                      Every time you write an article,
                       Hashnode publishes it on your domain 
                       and shares it with the community
                       members on the homepage.The readers are
                        directed to your website to read 
                        and interact with your content.
                      </p>
                      <button type="button" class="btn btn-primary btn-lg">Get Started</button>
                  </div>
                  <div class="col-12 col-md-4 text-center"><strong>No annonying pop-ups /ads</strong><br/>
                      <p>Knowledge sharing on Hashnode is and will
                       always be completely free.<br/><br/>
      
                       Because we value the relationship between
                       you and your readers, we won’t show ads or
                        pop-ups on your articles.</p></div>
                  </div>                      
        </div>  
      </div>
      <hr/>
      <div class="row" style="padding-top: 20px; padding-bottom: 80px;">
        <div class="col-12 col-md-4 text-center">
          <h5>What</h5>
          <p>
            Hashnode is a free developer 
            blogging platform that 
            allows you to publish articles
             on your own domain and 
             helps you stay 
             connected with a global 
             developer community.
          </p>
  
        </div>
        <div class="col-12 col-md-4 text-center">
          <h5>Why</h5>
          <p>
            This gives you a huge advantage:
             Google and other search engines 
             send traffic directly to
              your domain, and Hashnode 
              community members discover your
               articles on their feed.
          </p>
  
        </div>
        <div class="col-12 col-md-4 text-center">
         <img src="/image/logo_3.png" alt="pic">
  
        </div>
  
  
      </div>

      <h1 class="text-center">Features will Make You blogging 10x better</h1>
      <br/>


      <div class="container">
          <div class="row">
            <div class="col-12 col-md-4 text-center">
                <h1 Class="mx-auto">
                    <i class="bi-github" role="img" aria-label="GitHub"></i>
                </h1>
                <h4>Automatic GitHub Backup</h4>
                <p>Every time you publish an article 
                  on your  blog,a markdown version 
                  of the post  is  pushed  to your 
                  private GitHub repo as a backup</p>

            </div>
            <div class="col-12 col-md-4 text-center">
                <h1>
                    <i class="bi bi-markdown"></i>
                </h1>
                <h4>Write in Markdown</h4>
                <p>
                    Write your content in a distraction-free Markdown editor with proper syntax highlighting and see live previews instantly. Embed images, code snippets, tweets, and much more.
                </p>

            </div>
            <div class="col-12 col-md-4 text-center">
                <h1>
                    <i class="bi bi-battery-charging"></i>
                </h1>
                <h4>Superfast Next.js Powered Blogs</h4>
                <p>
                    Hashnode blogs are powered by Next.js, and are served via Vercel's word class CDN.
                </p>

            </div>
          </div>
          <br/>
          <div class="row">
              <div class="col-12  col-md-4  text-center">
                <h1>

                    <i class="bi bi-globe2"></i>
                </h1>
                  <h4>Blog on a Custom Domain</h4>
                    <p>Bring your custom domain, and get up 
                        and running within minutes.We issue,
                     and renew SSL cert for you automatically.</p>
              </div>
              <div class="col-12  col-md-4  text-center">
                <h1>
                    <i class="bi bi-save2"></i>
                </h1>
                  <h4>Own your data</h4>
                  <p>You retain all the rights to your content. 
                      Export and download all your posts 
                      from your dashboard with 
                      a single click.</p>

              </div>
              <div class="col-12  col-md-4  text-center">
                  <h1>
                    <i class="bi bi-patch-check"></i>

                  </h1>
              <h4>Edge Caching with SSL</h4>
              <p>We automatically cache your blog using Vercel
                   and serve it over HTTPS. This results 
                   in low time to first byte (TTFB) and allows
                    your blog to be extremely
                     responsive and fast.</p></div>
            
        </div>
      </div>
      <br/>

      <div class="row">
       <div  id="foter" class="col-sm-4">
        <h5>Explore</h5>
        <p>Feed</p>
        <p>Tags</p>
        <p>Bookmarks</p>
        <p>search</p>
       </div>
       <div  id="foter" class="col-sm-4">
         <h5>Company</h5>
        <p>About Hashnode</p>
        <p>Career</p>
        <p>Official Blogs</p>
        <p>Media</p>
        
       </div>
       <div id="foter" class="col-sm-4">
         <h5>Support</h5>
        <p>Support Docs</p>
        <p>Contact</p>
        <p>Join Discard</p>
        <p>Features</p>
       </div>
      </div>
   
   </div>
   <br/>
   <br/>
    <div>
      <div class="col-12  col-md-4  mx-auto">
        <button> <i class="bi bi-github"  role="img" style="font-size: 2rem; color: rgb(25, 117, 94);"> </i></button>  
          <button><i class="bi bi-twitter" role="img"  style="font-size: 2rem; color: cornflowerblue;"> </i></button>
          <button><i class="bi bi-facebook"  role="img" style="font-size: 2rem; color: rgb(8, 70, 184);"> </i></button>
          <button><i class="bi bi-instagram"  role="img" style="font-size: 2rem; color: rgb(226, 62, 12);"> </i></button>
          <button><i class="bi bi-youtube"  role="img"  style="font-size: 2rem; color: rgb(238, 63, 10);"> </i></button>
          <button><i class="bi bi-linkedin"  role="img"  style="font-size: 2rem; color: rgb(35, 92, 197);"> </i></button>

        


    </div>
   <br/>
   <br/>
</div>
</body>

</html>