
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Every thing u need to know</title>
  <link rel="stylesheet" type="text/css" href="public/css/home.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div>
  <nav class="navbar navbar-expand-sm navbar-primary bg-light">
    <div class="container">
      <a class="navbar-brand" href="javascript:void(0)">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar"> 
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="mynavbar">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)">Service</a>
    </li>
  </ul>
  <form class="d-flex">
    <button class="btn btn-default" type="button">Login</button>
    <button class="btn btn-primary" type="button">Create Account</button>
  </form>
</div>
</div>
</nav>


   <div class="container">
    
   
      
      <div class="row">
        <div class="col-12" id="by">
           
           <br/>
              <div class="row mb-5">
                 
                <div class="col-3">
                  
                </div>
                      <div class="col-6 text-center">
                        <h1>
                            <b>Everything you need to start
                            blogging as a developer!</b> </h1>
                                                        Own your content, share ideas, and
                                              connect with the global dev community!<br/>
                                              <br/>
            
                            <button class="btn btn-lg btn-success"><b>Start Your Personal Blog for free</b></button>
                      </div>
                      <div class="col-3">
                  
                      </div>
            
              </div>
              
             <div class="row justify-content-center text-center">
                 <div class="col-12 col-md-4 ">
                     <img src="image-3.png" alt="logo" style="width: auto;height: 200px;"><br/><br/>
                     <p><b>Start a developer blog</b></p>
                 </div>
                 <div class="col-12 col-md-4" >
                     <img src="image_1.png" alt="logo" style="width: auto;height: 200px;"><br/><br/>
                    <b> Map Your Custom domain</b>
                 </div>
                 <div class="col-12 col-md-4 ">
                     <img src="image_2.png" alt="logo"style="width: auto;height: 200px;"><br/><br/>
                    <b> Map Your Custom domain</b>
                 </div>
             </div><br/>
      
             <hr/>
            
             <div class="row text-center">
                 <div class="col-4"><strong>Blog on Your Personal Domain</strong><br/>
                      <p>Map your custom domain in just
                       seconds via our free CNAME 
                       pointing feature. Serve your
                        blog over HTTPS with  no extra 
                        configuration.<br/>
                        <br/>
      
                      Get a high performance, secure, and fully-optimized 
                      blog that delights your readers.</p>
              
                  </div>
                  <div class="col-4"><strong>Istancely find Your Audiance</strong><br/>
                      <p>
                      Every time you write an article,
                       Hashnode publishes it on your domain 
                       and shares it with the community
                       members on the homepage.The readers are
                        directed to your website to read 
                        and interact with your content.
                      </p>
                      <button type="button" class="btn btn-primary btn-lg">Get Started</button>
                  </div>
                  <div class="col-4"><strong>No annonying pop-ups /ads</strong><br/>
                      <p>Knowledge sharing on Hashnode is and will
                       always be completely free.<br/><br/>
      
                       Because we value the relationship between
                       you and your readers, we won’t show ads or
                        pop-ups on your articles.</p></div>
                  </div>                      
        </div>  
      </div>
      <hr/>
      <div class="row" style="padding-top: 20px; padding-bottom: 80px;">
        <div class="col-4">
          <h5>What</h5>
          <p>
            Hashnode is a free developer 
            blogging platform that 
            allows you to publish articles
             on your own domain and 
             helps you stay 
             connected with a global 
             developer community.
          </p>
  
        </div>
        <div class="col-4">
          <h5>Why</h5>
          <p>
            This gives you a huge advantage:
             Google and other search engines 
             send traffic directly to
              your domain, and Hashnode 
              community members discover your
               articles on their feed.
          </p>
  
        </div>
        <div class="col-4">
         <img src="logo_2.png" alt="pic">
  
        </div>
  
  
      </div>

      <h1>Features will Make You blogging 10x better</h1>
      <br/>

      <div class="row">
       <div class="col-sm-4">
        <h5>Explore</h5>
        <p>Feed</p>
        <p>Tags</p>
        <p>Bookmarks</p>
        <p>search</p>
       </div>
       <div class="col-sm-4">
         <h5>Company</h5>
        <p>About Hashnode</p>
        <p>Career</p>
        <p>Official Blogs</p>
        <p>Media</p>
        
       </div>
       <div class="col-sm-4">
         <h5>Support</h5>
        <p>Support Docs</p>
        <p>Contact</p>
        <p>Join Discard</p>
        <p>Features</p>
       </div>
      </div>
   
   </div>
   
   
</div>
</body>

</html>