#btn-write{
    font-weight: bold;
    font-size:large;
    text-align: center;
}
#img-1{
    padding: 10px;
    height: 50px;
    width: 180px;
}
#list-1{
    padding: 8px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.notify{
    text-align: right;
}
#link-btn{
    text-decoration: none;
    color: black;
    padding: 5px 15px;
    display: inline-block;
    width: 170px;
    min-width: 50px;
}
#link-btn a{
    text-decoration: none;
    color: black;
}
#link-btn:hover{
background-color:antiquewhite;
}
#lar-btn{
    text-align: left; 
    padding: 17px;
    border: 2px darkgray;
    font-family: Arial, Helvetica, sans-serif;
}
#lar-btn:hover{
    background-color: darkgray;
    color: black;
    
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    
    border-radius: 5px;
    float: left;
    
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 5px;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }