body::-webkit-scrollbar{
    display: none;
}

#btn-write{
    font-weight: bold;
    font-size:large;
    text-align: center;
}
#img-1{
    padding: 10px;
    height: 50px;
    width: 180px;
}
#list-1{
    padding: 8px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.notify{
    text-align: right;
}
#link-btn{
    text-decoration: none;
    color: black;
    padding: 5px 15px;
    display: inline-block;
    width: 170px;
    min-width: 50px;
}
#link-btn a{
    text-decoration: none;
    color: black;
}
#link-btn:hover{
background-color:antiquewhite;
}
#lar-btn{
    text-align: center; 
    padding: 12px;
    border: 2px darkgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#lar-btn:hover{
    background-color: gray ;
}
.d-flex{
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    padding: 10px;
}
#footer{
    align-items: center;
    align-content: center;
    text-align: center;
}