
#foter{
    font-size: 14px;

  }
  #foter p{
    margin-bottom: 5px;
  }
  .nav-link{
    color:rgb(255, 255, 255);
  }

  .nav-link:hover{
    color: rgb(255, 225, 0);
  }

  .btn:focus{
    box-shadow: none;
  }